
.book-preview {
    display: grid;
    grid-template-rows: auto 1fr; /* First row for title, second row for content */
    gap: 10px; /* Add gap between rows */
}

.book-preview .title {
    grid-row: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-preview .content {
    grid-row: 2;
}

.book-preview img {
    margin: 0 auto;
    max-width: 85%;
}
