.books>* {
    margin-block-end: 1em;
}

.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.book-list ul li {
    display: grid;
    padding: 10px;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: 1fr;
    background-color: rgb(232, 227, 215);
    position: relative;
}

.book-list ul li .action {
    display:flex;
    justify-content: space-between;
}

.book-list button {
    background-color: rgb(161, 174, 247);
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    width: 5em;
}

.book-list article {
    margin-block-end: 2em;
}
