.book-details {
    display: grid;
    padding: 2em;
    background-color: rgb(223, 209, 182);
    margin-block-start: 10px;
}

.book-details button {
    justify-self: end;
}

.read-more {
    font-weight: 800;
}