.books > *{
    margin-block-end: 1em;
}

.book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.book-list ul li {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.book-list ul li button {
    grid-row: 3;
}

.book-list ul li button {
    margin-top: auto;
    min-width: 4em;
    min-height: 2em;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin-block-start: 1em;
}

.book-list li {
    padding: 10px;
    background-color: lightblue;
    column-gap: 1em;
}

.book-list article {
    grid-column: 1 /span 2;
}
